{% extends 'base.html.twig' %}

{% block title %}Trip{% endblock %}

{% block body %}
    <h1>{{ trip.title }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ trip.title }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ trip.location }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ trip.description }}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{{ trip.startdate ? trip.startdate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{{ trip.enddate ? trip.enddate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>MaxStudents</th>
                <td>{{ trip.maxStudents }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_trip_index') }}">Terug naar overzicht</a>
    <a href="{{ path('app_attendees_new') }}">Deze reis boeken</a>

{% endblock %}
