{% extends 'base.html.twig' %}

{% block title %}Ga Lekker Reizen{% endblock %}

{% block body %}
        <div class="col-10 mx-auto trip-detail-block p-3">
    <h1>{{ trip.title }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Bestemming</th>
                <td>{{ trip.destination }}</td>
            </tr>
            <tr>
                <th>Omschrijving</th>
                <td>{{ trip.description }}</td>
            </tr>
            <tr>
                <th>Datum</th>
                <td>{{ trip.startdate ? trip.startdate|date('d-m-Y') : '' }} - {{ trip.enddate ? trip.enddate|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Maximaal studenten</th>
                <td>{{ trip.maxStudents }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('app_trip_overview') }}" class="btn btn-light">Terug naar het overzicht</a>
            {% if isBooked['alreadyBooked'] %}
                <form method="post" action="{{ path('app_attendee_delete', {'id': isBooked['attendeeId']}) }}" onsubmit="return confirm('Weet je zeker dat je deze reis wilt annuleren?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ isBooked['attendeeId']) }}">
                    <button class="btn btn-danger right">Deze reis annuleren</button>
                </form>
            {% elseif isBooked['available'] > 0 %}
                <a href="{{ path('app_attendee_new', {'tripId': trip.id }) }}" class="btn btn-warning right">Deze reis boeken</a>
            {% else %}
                <div class="isFullyBooked right"><i>Niet meer beschikbaar<br></i></div>
            {% endif %}
        </div>
{% endblock %}
