{% extends 'base.html.twig' %}

{% block title %}Attendee index{% endblock %}

{% block body %}
    <h1>Attendee index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Student</th>
                <th>Identiteitsnummer</th>
                <th>Reis</th>
                <th>Boekingsnummer</th>
            </tr>
        </thead>
        <tbody>
        {% for attendee in attendees %}
            <tr>
                <td>{{ attendee.student.studentNumber }} ({{ attendee.student.firstname }})</td>
                <td>{{ attendee.identity }}</td>
                <td>{{ attendee.trip.title }}</td>
                <td>{{ attendee.trip.id }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
