{% extends 'base.html.twig' %}

{% block title %}Ga Lekker Reizen{% endblock %}

{% block body %}
<div class="col-10 mx-auto trip-detail-block p-3">
<h1>Inschrijvingen</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Student</th>
                <th>Identiteitsnummer</th>
                <th>Reis</th>
                <th>Boekingsnummer</th>
            </tr>
        </thead>
        <tbody>
        {% for attendee in attendees %}
            <tr>
                <td>{{ attendee.student.studentNumber }} ({{ attendee.student.firstname }})</td>
                <td>{{ attendee.identity }}</td>
                <td>{{ attendee.trip.title }}</td>
                <td>{{ attendee.trip.id }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Geen inschrijvingen gevonden</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_trip_index') }}" class="btn btn-light">Terug naar overzicht</a>

</div>
{% endblock %}
